<!doctype html>
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title> Photographer portfolio </title>
  {% endif %}
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', path='styles/base.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block header %}{% endblock %}
</head>

<body>
  <header class="header">
    <a class="header-name" href='/'>
      <h1>{{ name }}</h1>
    </a>
  </header>
  
  <nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Session</a>
          <div class="dropdown-content">
            <a href="#">Spring</a>
            <a href="#">Summer</a>
            <a href="#">Autumn</a>
            <a href="#">Winter</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Album</a>
          <div class="dropdown-content">
            <a href="#">Cats</a>
            <a href="#">Dogs</a>
            <a href="#">Chicken</a>
          </div>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>  
    {% block content %}{% endblock %}
  
  <footer>
    <div class="footer main-res">
      <p> © {{ name }} 2019. All Right Reserved. </p>
      <div class="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>
  </footer>
  
</body>
