{% extends "base.html" %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',path='styles/contact.css') }}">
{% endblock %}
{% block content %}
  <div class="main-res">
    <h1 class="contact-text"> Contact </h1>
    <div class="formwrapper">
      <form method="POST" action="/">
        <div class="form-field">{{ form.person.label }} {{ form.person }}
          {% if form.person.errors %}
            <ul class="errors">
              {% for error in form.person.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-field">{{ form.email.label }} {{ form.email }}
          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-field">{{ form.body.label }} {{ form.body }}
          {% if form.body.errors %}
            <ul class="errors">
              {% for error in form.body.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}