{% extends "base.html" %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',path='styles/contact.css') }}">
{% endblock %}
{% block content %}
  <div class="main-res">
    <h1 class="contact-text"> Contact </h1>
    <div class="formwrapper">
      <form method="POST" action="/contact" enctype="multipart/form-data">
        <table>
          <div class="col1">
              <label for="cfname"><b>First Name </b></label>
              <input type="text" placeholder="Enter First Name" name="cfname" required>
              <label for="clname"><b>Last Name </b></label>
              <input type="text" placeholder="Enter Last Name" name="clname" required>
          </div>
          <div class="form-field">
              <label for="cmail"><b> Email </b></label>
              <input type="text" placeholder="Enter Email" name="cmail" required>
          </div>
          <div class="form-field">
              <label for="ctitle"><b>Title </b></label>
              <input type="text" placeholder="Enter Title" name="ctitle" required>
          </div>
          <div class="form-field">
              <label for="cbody"><b>Message </b></label>
              <input class = "body" type="text" placeholder="Write your message" name="cbody" required>
          </div>
            <input type="submit" value = "Sent">

      </table>
      </form>
    </div>
  </div>
{% endblock content %}