{% extends "base.html" %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', path='styles/login.css') }}">
{% endblock %}
{% block content %}

<div class="main-res">
  <div class="row">
    <div class="leftcolumn">
      <img src='/static/img/about/lastone.png' width="90%" style="box-shadow: 10px 10px 10px grey">
    </div>
    <div class="rightcolumn">
      <div class="big-header">Sign in</div>
      <hr>
      <form method="POST" action="/login" class="form_style">
      <h2 style="padding-top: 20px; padding-bottom:5px">Please fill in this form to sign in...</h2>  
      <table>
        <tr>
          <td><label for="email"><b>Email</b></label></td>
          <td><input type="text" placeholder="Enter Email" name="email" required></td>
        </tr>
        <tr>
          <td><label for="psw"><b>Password</b></label></td>
          <td><input type="password" placeholder="Enter Password" name="psw" required></td>
        </tr>
      <tr>
         <td></td> <td><button type="submit" class="loginbtn">Sign in</button></td>
      </tr>
      </table>
      <form class="cointainer sign up">
      <p>Don't have a Portfolio account? <a href="/register">Sign up</a>.</p>
      </form>
    </form>
    </div>
  </div>
</div>
{% endblock content %}