@media screen and (min-width:1700px){
    .register-form{
        width: 100%;
        max-width:400px;
        padding-top: 5vh;
        max-height: 100vh;
        margin: auto;
        margin-bottom: 0;
        position: sticky;
    }

    .box{
        width: 100%;
        padding:20px;
        border-style:none;
        
        border-radius: 20px;
        box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
        margin:auto;
    }
    h1.signIn{
        text-align: center;
        color: white;
        font-family: 'Gruppo';
        src:url('../fonts/Gruppo-Regular.ttf');
        font-weight: bold;
    }

}
