<html>
<head>
    <title>Users</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="">
</head>
<body>
<form method="POST" action="/user/" class="form-example" name="form1">
  <div class="form-example">
    <label for="imie">Podaj Imie: </label>
    <input type="text" name="imie" required>
  </div>
  <div class="form-example">
    <label for="nazwisko">Podaj Nazwisko: </label>
    <input type="text" name="nazwisko" required>
  </div>
  <div class="form-example">
    <label for="email">Podaj E-mail: </label>
    <input type="email" name="email" required>
  </div>
  <div class="form-example">
  <input type="submit" value="Wyslij">
  <!--<button onclick="sendJSON()">Send JSON</button>-->
  </div>
</form>
</body>

<script type="text/javascript">
function sendJSON(){ 
			
			let result = document.querySelector('.result'); 
      let imie = document.querySelector('#imie'); 
      let nazwisko = document.querySelector('#nazwisko'); 
			let email = document.querySelector('#email'); 
			
			// Creating a XHR object 
			let xhr = new XMLHttpRequest(form1.method, form1.action, true); 
			// open a connection 
			xhr.open()

			// Set the request header i.e. which type of content you are sending 
			xhr.setRequestHeader("Content-Type", "application/json"); 
			// Converting JSON data to string 
			var data = JSON.stringify({"imie": imie.value, "nazwisko": nazwisko.value, "email": email.value}); 
			// Sending data with the request 
			xhr.send(data);
}  
</script>
</html>