.footer{
    background-color:#1a1a1a;
    //box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    border-style:solid none none none;
    border-width: 1px;
    border-color: #5FBFF9;
}
