.img-left
{
    float: left;
    
    margin: 0 auto;
    height:auto; 
    
}
.container {
  padding: 16px;
}

.big-header
{
    font-size:40px;
    text-align: left;
    background-image: linear-gradient(to right, #f2f2f2, white);
    border-radius: 10px;
    text-shadow: 2px 2px 4px #333;
    top: 1%;
    padding: 10px;
}

  .leftcolumn {
    float:left;
    width: 30%;
  }
  
  /* Middle column */
  .rightcolumn {
    float:right;
    width: 70%;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .loginbtn {
    background-color: #F4EEE1;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
  }
  
  .loginbtn:hover {
    opacity:1;
  }
  

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .column.side, .column.middle {
      width: 100%;
      padding:0;
    }
}