@media screen and (max-width: 800px) {
  h1.header {
    text-align: center;
    padding-top: 7vh;
    font-size: 30px;
    font-family: "Gruppo";
    src: url("https://fonts.googleapis.com/css?family=Gruppo&display=swap");
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
}

@media screen and (min-width: 1700px) {
  h1.header {
    text-align: center;
    padding-top: 7vh;
    font-size: 90px;
    font-family: "Gruppo";
    src: url("https://fonts.googleapis.com/css?family=Gruppo&display=swap");
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
}
