{% extends "base.html" %}
{% block header %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', path='styles/about.css') }}">
{% endblock %}
{% block content %}

<div class="main-res">
  <div class="row">
    <div class="leftcolumn">
      <img src='/static/img/about/lastone.png' width="90%" style="box-shadow: 10px 10px 10px grey">
      <h2>Magazines</h2>
      <p>New Anime (2008)</p>
      <p>Cutest Manga (2009)</p>
      <p>Nani Nande Magazine (2014)</p>
      <p>Yumi(2015)</p>
      <p>Taiga (2017)</p>
      <p>Go-Kō-no-Surikire (2019)</p>
    </div>
    <div class="rightcolumn">
      <div class="big-header">Who am I?</div>
      <hr>
      <h2 style="padding-top: 20px; padding-bottom:5px">Short biography...</h2>  
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
      <p>I was born to be a cute cat and destroy everything in my neighbourhood!</p>
    </div>
  </div>
</div>
{% endblock content %}